.outfitItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 16px;
  border-bottom: 1px solid #d9d9d9;

  & > div {
    display: flex;
  }
  .itemInfo {
    padding-left: 16px;
  }
}
