.selectedClothesCarousel {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #fff !important;
  .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .ant-radio-wrapper {
    color: #fff;
  }

  .wardrobeSection {
    color: white;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    &:hover {
      color: white !important;
    }
  }

  .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #bfbfbf !important;
    background-color: #fff !important;
  }
  .ant-radio-wrapper .ant-radio-inner::after {
    background-color: #000 !important;
  }
  .ant-radio-wrapper:hover .ant-radio-inner {
    border-color: #bfbfbf !important;
    border: 1px solid #bfbfbf !important;
    cursor: default;
  }

  .ant-radio-wrapper,
  .ant-radio-wrapper .ant-radio,
  .ant-radio-wrapper .ant-radio-inner,
  .ant-radio-wrapper input[type="radio"],
  .ant-radio-wrapper label {
    cursor: default !important;
  }

  .ant-btn-icon-only {
    width: 24px;
    height: 24px;
    .ant-btn-icon {
      height: 14px;
    }
  }

  .wardrobe {
    margin-top: 8px;
    .photoList {
      display: flex;
      gap: 8px;
    }
    .photoItem {
      position: relative;
      width: 109px;
      div {
        width: 109px !important;
      }
      img {
        height: 122px;
      }

      button {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
